/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table.header {
    font-family: helvetica; 
}

table.header td {
	padding: 8px;
}

table.list {
    font-family: helvetica; 
}

table.list th {
	text-align: left;
}

table.list td {
    padding: 5px;
    padding-right: 35px;
}

button {
    font-size:16px;
    background-color: gray;
    color: white;
    padding: 5px 16px;
    border: none;
    cursor: pointer;
    margin-bottom:10px;
    opacity: 0.8;
}
  /* Add some hover effects to buttons */
 button:hover {
    opacity: 1;
  }

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    top: 195px;
    left: 10px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 600px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: gray;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  

  /* Link Styles */

  a {
    text-decoration: none;
    padding: 3px; 3px;
  }
  
  a:link {
    background: white;
    color: #666666;
}
  
  a:visited {
  }
  
  a:hover {
    background: darkgray;
    color: white;
  }
  
  a:active {
  }

