<!DOCTYPE html>
<html>

<head>
    <title>Pet Weather</title>
</head>
 
<body>

<!-- Page header -->
<table class="header">
    <tr>
        <td>
            <img src='https://upload.wikimedia.org/wikipedia/en/thumb/2/29/Harvard_shield_wreath.svg/1200px-Harvard_shield_wreath.svg.png' height=150 float=top>
        </td>
        <td>
            <span style="font-size:28px;">Harvard University</span><br>
            <span style="font-size:46px;">The Rex Fido School</span><br>
            <span style="font-size:22px;">of Animal and Meteorological Studies</span>
        <td>
    <tr>
</table>
<hr>

<!-- Pet and Weather Details -->
    <h1>Should <%= @pet['name'] %> Take an Umbrella?</h1>

    Yes, <%= @pet['name'] %> should play it safe and take an umbrella today.<br><br>
    The chance of precipitation in <%= @pet['location']%> is moderate - 47%.  <br>
 
<br>
<button type="button" class="btnWithBackground" onclick="window.location = '/';">Back</button>
</div>


<!-- Javascript -->
<script>

</script>

</body>

</html>
